.nav1{
    background-color: #3d626c;
    height: 80px;
}
.inline-list li {
    display: inline-block;
    list-style-type: none;
    padding-bottom: 30PX;
    padding-left: 100PX;
    position: relative;
    color: white;
}
h2{
    padding-left: 10px;
    padding-top: 20px;
}
.d1{
  margin-top: 80px;
  color: rgb(205, 0, 228);
}
.d2{
    padding-left: 450px;
    margin-top: -300px;
}
#img{
    height: 400px;
    background-color: transparent;
    background-color: teal;
    width: 300px;
    
}
button{
    border-radius: 10px 10px 10px 10px;
}
